streamlit
matplotlib
scikit-learn
seaborn
plotly
ipython

# force pkg_resources to exist
setuptools==68.2.2
wheel==0.41.3

# use a newer xgboost that plays nicer with modern envs
xgboost==1.5.2


